# =========================
# Python / Motor Matemático
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VS Code / IDEs
# =========================
.vscode/
.idea/

# =========================
# Variáveis de Ambiente
# =========================
.env
venv/